.score-wrap {
    position: relative;
}

.score {
    max-width: 1140px;
    padding: 240px 0 165px 0;
    margin: 0 auto;
}

.score-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 92%;
    height: 100%;
    margin: 0 auto;
}

.score-wrap {
    width: 100%;
    background: #f9fafb;
}

.score-text-box1 {
    margin-bottom: 80px;
}

.score-box1-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 20px;
}

.score-box1-text {
    font-size: 50px;
}

.score-grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-item-box {
    margin-bottom: 140px;
}

.grid-img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 30px;
}

.grid-img img {
    width: 120px;
    height: 120px;
    display: block;
}

.grid-title {
    margin-bottom: 10px;
    font-size: 28px;
    color: rgb(51, 61, 75);
    font-weight: 700;
}

.grid-text {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(107, 118, 132);
}