.business-wrap {
    width: 100%;
    background: black;
    color: white;
}

.business {
    padding: 20px 0 200px 0;
    margin: 0 auto;
}

.business-inner {
    position: relative;
    width: 92%;
    height: 100%;
    margin: 0 auto;
}

.business-img {
    display: block;
    width: 100%;
    padding-top: 100px;
}

.business-title,
.business-title-sub {
    text-align: center;
}

.business-title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 30px;
}

.business-title-sub {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    color: #b0b8c1;
}

.business-title-sub-box {
    margin-bottom: 200px;
}

.business-list {
    display: flex;
    justify-content: space-evenly;
    
}

.business-list li {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.toss-pay-title,
.my-profit-title,
.tosspayments-title,
.tossplace-title {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.toss-pay-text,
.my-profit-text,
.tosspayments-text,
.tossplace-text {
    max-width: 300px;
    margin-bottom: 38px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    color: #b0b8c1;
}

.toss-pay-button,
.my-profit-button,
.tosspayments-button,
.tossplace-button {
    color: #f9fafb;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    background-color: #3182f6;
    padding: 11px 16px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
}

.toss-pay-button:hover,
.my-profit-button:hover,
.tosspayments-button:hover,
.tossplace-button:hover {
    background-color: rgb(27, 100, 218);
}