.loan-wrap {
    position: relative;
}

.loan {
    max-width: 1140px;
    padding: 240px 0 165px 0;
    margin: 0 auto;
}

.loan-inner {
    display: flex;
    position: relative;
    width: 92%;
    height: 100%;
    margin: 0 auto;
}

.loan-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loan-left-top {
    margin-bottom: 210px;
}

.left-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 30px;
}

.left-top-text,
.left-bottom-text {
    font-size: 50px;
    font-weight: 500;
}

.left-bottom-text {
    margin-bottom: 30px;
    color: rgb(51, 61, 75);
}

.mid {
    color: #8b95a1;
}

.bottom {
    color: #d1d6db;
}

.left-bottom-sub {
    font-size: 23px;
    font-weight: 500;
    color: rgb(51, 61, 75);
    width: 500px;
}

.loan-right {
    position: relative;
    display: flex;
    justify-content: center;
    left: 40px;
}

.loan-right .loan-phone-screen {
    position: absolute;
    top: 98px;
    left: 130px;
    border-radius: 40px;
}